# .gitignore for DevOps Demo

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.iml

# Build artifacts
build/
target/
dist/
*.class

# Node
node_modules/
npm-debug.log

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Secrets (IMPORTANT)
infra/bootstrap/02-secrets-template/jira-creds-secret.yaml
infra/bootstrap/02-secrets-template/sonarqube-token-secret.yaml
infra/bootstrap/02-secrets-template/postgres-secret.yaml
infra/bootstrap/02-secrets-template/jira-api-secret.yaml
infra/bootstrap/02-secrets-template/github-creds-secret.yaml
*.key
*.pem
