server:
  port: 8080

spring:
  application:
    name: portal-be
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:portaldb}
    username: ${DB_USER:portal}
    password: ${DB_PASSWORD:portalpassword}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

app:
  jwt:
    secret: ${JWT_SECRET:devops-demo-jwt-secret-key-that-is-at-least-256-bits-long-for-hs256}
    expiration-ms: 86400000
